$header-bg-padrao: #645951;
$header-color-padrao: white;

$header-link-color: #ffffffed;

// Background do Header;
$header-bg: $header-bg-padrao;

// Color do Header;
$header-color: $header-color-padrao;

// Color do link do Header;
$link-color: $header-link-color;