@import '_variaveis.scss';
@import '_mixin.scss';

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: Arial;
}

header {
	background: $header-bg;
	padding: 5px 1rem;
	color: $header-color;
	position: sticky;
	top: 0;
	font-size: 0.9rem;
	display: grid;
	grid-template-areas: "nav nav user";
    grid-template-columns: 1fr auto;

    label {
    	margin-bottom: 0px;
    }

	#navegation-header {
		@include flex(space-between);
		padding: 0;
		margin: 0;
		grid-area: nav;
	}

	#menu-user {
		@include flex();
		gap: 1rem;
		grid-area: user;
		position: relative;

		a.btn {
			border-radius: 20px;
			padding: 6px 10px;
			width: 135px;
			margin: 0;
			color: $link-color;
			font-size: 0.9rem;
		}

		a.btn:hover {
			color: white;

			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
		}

		.cadastro {
			background: #0b07ae;
		}

		.cadastro:hover {
			background: #0c0a57;
		}

		.login {
			border: 1px solid #D6B610;
		}

		.login:hover {
			background: #D6B610;
		}

		.content-user {
		    @include flex();

		    border-radius: 25px;
		    cursor: pointer;
		    padding: 7px 10px;
		    gap: 7px;

			.icon-user {
				font-size: 1.6rem;
			}

			.icon-down {
				position: relative;
				left: 3px;
			}

			#img-user {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				object-fit: cover;
			}
		}

		.content-suport-user {
			z-index: 5;
			display: none;
			position: absolute;
			top: 2rem;
			right: 0;

			.menu-suport {
				margin-top: 15px;
				background: #330232;
				min-width: 250px;

				#linksSuport {
					@include flex(center, start, column);

					li {
						width: 100%;

						a {
							color: $link-color;
							display: block;
							letter-spacing: 0.8px;
							padding: 12px 15px;
							font-size: 0.9rem;
						}

						a:hover {
							color: $link-color-hover;
						    background: #8D07F6;
						}

						a:focus {
							background: #b04cff;
						}

						a:active {
							background: #6009a4;
						}
					}
				}
			}
		}
	}

	a:hover {
		text-decoration: none;
	}

	.brand {
		grid-area: logo;
		color: #eae9e9;

		.logo-receipt {
			font-size: 1.6rem;
			margin-right: 5px;
		}

		.logo-text {
			font-size: 1.6rem;
			display: inline;
			font-family: 'Libre Baskerville', serif;
		}
	}

	.brand:hover {
		color: white;
	}

	.list-no {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	#menu {
		margin-right: 2rem;

		.menu-group {
			@include flex();
			gap: 0.5rem;
		}

		.item-menu {
			// overflow-x: hidden;
			display: block;
			padding: 0.1rem;
			margin: 0.2rem;
			position: relative;

			a {
			    margin: 0.4rem;
			    color: $link-color;
			    font-weight: 500;
			    letter-spacing: 0.7px;
			}

			a:hover {
				color: $link-color-hover;
			}

			a.active {
				color: white;
			}
		}
	}

	#hamburguer {
		background: #fff;
		width: 35px;
		height: 30px;
		padding: 0;
		margin: 0;
		border-radius: 8px;
	}

	.hamburguer {
		display: block;
		background: black;
		width: 70%;
		height: 2px;

		top: 13.5px;
		left: 4.45px;

		position: relative;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.hamburguer:before,
	.hamburguer:after {
		content: "";

		background: black;
		display: block;
		width: 100%;
		height: 100%;

		position: absolute;
		-webkit-transition: all 0.5s ease-in-out;
		   -moz-transition: all 0.5s ease-in-out;
		    -ms-transition: all 0.5s ease-in-out;
		     -o-transition: all 0.5s ease-in-out;
		        transition: all 0.5s ease-in-out;
	}

	.hamburguer:before {
		top: -6.5px;
	}

	.hamburguer:after {
		bottom: -6.5px;
	}

	#checeBurguer:checked ~ label .hamburguer {
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		     -o-transform: rotate(45deg);
		        transform: rotate(45deg);
	}

	#checeBurguer:checked ~ label .hamburguer:before {
		top: 0;
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
	}

	#checeBurguer:checked ~ label .hamburguer:after {
		bottom: 0;
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
	}
}