body {
  font-size: 16px;
  font-family: Arial; }

header {
  background: #1d1d1f;
  padding: 5px;
  color: white;
  position: sticky;
  top: 0; }
  header #navegation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  header a:hover {
    text-decoration: none; }
  header .brand {
    color: #eae9e9; }
    header .brand .logo-receipt {
      font-size: 1.6rem;
      margin-right: 5px; }
    header .brand .logo-text {
      font-size: 1.6rem;
      display: inline;
      font-family: 'Libre Baskerville', serif; }
  header .brand:hover {
    color: white; }
  header .content-user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.8rem;
    font-size: 0.9rem; }
    header .content-user-menu .list-no {
      list-style: none;
      padding: 0;
      margin: 0; }
    header .content-user-menu #menu {
      margin-right: 2rem; }
      header .content-user-menu #menu .menu-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem; }
      header .content-user-menu #menu .item-menu {
        display: block;
        padding: 0.1rem;
        margin: 0.2rem;
        position: relative; }
        header .content-user-menu #menu .item-menu a {
          margin: 0.4rem;
          color: #ccd3d3;
          font-weight: 500;
          letter-spacing: 0.7px; }
        header .content-user-menu #menu .item-menu a:hover {
          color: #fffffff2; }
        header .content-user-menu #menu .item-menu a.active {
          color: white; }
    header .content-user-menu #menu-user {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
      position: relative; }
      header .content-user-menu #menu-user a.btn {
        border-radius: 20px;
        padding: 6px 10px;
        width: 135px;
        margin: 0;
        color: #ccd3d3;
        font-size: 0.9rem; }
      header .content-user-menu #menu-user a.btn:hover {
        color: white;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
      header .content-user-menu #menu-user .cadastro {
        background: #0b07ae; }
      header .content-user-menu #menu-user .cadastro:hover {
        background: #0c0a57; }
      header .content-user-menu #menu-user .login {
        border: 1px solid #D6B610; }
      header .content-user-menu #menu-user .login:hover {
        background: #D6B610; }
      header .content-user-menu #menu-user .content-user {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-radius: 25px;
        cursor: pointer;
        padding: 7px 10px;
        gap: 7px; }
        header .content-user-menu #menu-user .content-user .icon-user {
          font-size: 1.6rem; }
        header .content-user-menu #menu-user .content-user .icon-down {
          position: relative;
          left: 3px; }
        header .content-user-menu #menu-user .content-user #img-user {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          object-fit: cover; }
      header .content-user-menu #menu-user .content-suport-user {
        display: none;
        position: absolute;
        top: 2rem;
        right: 0; }
        header .content-user-menu #menu-user .content-suport-user .menu-suport {
          margin-top: 15px;
          background: #330232;
          min-width: 250px; }
          header .content-user-menu #menu-user .content-suport-user .menu-suport #linksSuport {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column; }
            header .content-user-menu #menu-user .content-suport-user .menu-suport #linksSuport li {
              width: 100%; }
              header .content-user-menu #menu-user .content-suport-user .menu-suport #linksSuport li a {
                color: #ccd3d3;
                display: block;
                letter-spacing: 0.8px;
                padding: 12px 15px;
                font-size: 0.9rem; }
              header .content-user-menu #menu-user .content-suport-user .menu-suport #linksSuport li a:hover {
                color: #fffffff2;
                background: #8D07F6; }
              header .content-user-menu #menu-user .content-suport-user .menu-suport #linksSuport li a:focus {
                background: #b04cff; }
              header .content-user-menu #menu-user .content-suport-user .menu-suport #linksSuport li a:active {
                background: #6009a4; }

/*# sourceMappingURL=estilo.css.map */
