#auth {
  width: 75%;
  margin: auto;
}
#auth .title-auth {
  font-size: 2rem;
  color: #443A3A;
  margin: 0;
  font-family: "Lobster", cursive;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  font-style: oblique;
}
#auth .icon-auth-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5%;
  margin: 20px 0;
}
#auth .icon-auth-social .auth-item {
  background: none;
  border: none;
  color: black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#auth .icon-auth-social .auth-item:hover {
  text-decoration: none;
}
#auth .icon-auth-social .auth-item:focus {
  border: none;
  outline: none;
  color: blue;
}
#auth .icon-auth-social .icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  font-size: 1.6rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
#auth .icon-auth-social .icon-social:hover {
  background: black;
  color: white;
}
#auth .msg-other-auth {
  font-size: 1rem;
  letter-spacing: 0.8px;
  color: #443A3A;
  font-family: "Lobster", cursive;
  text-align: center;
}
#auth .auth-other {
  display: block;
  text-align: center;
  margin-top: 2rem;
}
#auth .auth-other .other-link {
  color: #ccc;
}

#formAuth,
.formController {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 20px;
}
#formAuth .form-group .form-check label,
.formController .form-group .form-check label {
  font-size: 0.93rem;
}
#formAuth .form-group .warning-icon-input,
.formController .form-group .warning-icon-input {
  font-style: oblique;
}
#formAuth .form-group .msg-is-invalid,
.formController .form-group .msg-is-invalid {
  display: none;
  font-size: 0.75rem;
  text-align: right;
  color: #6c757d;
}
#formAuth .form-group .msg-is-invalid > p,
.formController .form-group .msg-is-invalid > p {
  margin: 0;
  padding: 0;
}
#formAuth .form-group .msg-senha,
.formController .form-group .msg-senha {
  display: block;
  text-align: right;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: #4b10aca8;
}
#formAuth .form-group .msg-senha > p,
.formController .form-group .msg-senha > p {
  margin: 0;
  padding: 0;
}
#formAuth .form-group .input-group,
.formController .form-group .input-group {
  background: #ECF0F1;
}
#formAuth .form-group .input-group .input-auth,
.formController .form-group .input-group .input-auth {
  background: #ECF0F1;
  font-size: 1rem;
  border: none;
  box-shadow: none;
  flex: 1;
  width: 100%;
  color: #AB5454;
}
#formAuth .form-group .input-group .input-auth:focus,
.formController .form-group .input-group .input-auth:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
#formAuth .form-group .input-group .input-group-icon,
.formController .form-group .input-group .input-group-icon {
  padding: 10px;
  margin: 0;
}
#formAuth .form-group .input-group .input-group-icon .input-icon,
.formController .form-group .input-group .input-group-icon .input-icon {
  font-size: 1.2rem;
  margin: 0 3px;
  color: #AB5454;
}
#formAuth .form-group .focusAuthInput,
.formController .form-group .focusAuthInput {
  box-shadow: 1px 1px 3px #857f7f, -1px -1px 3px #857f7f;
}
#formAuth #btn-auth,
.formController #btn-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #ECFAF6;
  background: #58AF9C;
  width: 200px;
  border-radius: 200px;
  margin-top: 23px;
  height: 38px;
}
#formAuth #btn-auth:hover,
.formController #btn-auth:hover {
  color: white;
}

@media (max-width: 575.98px) {
  #auth {
    width: 100%;
  }
  #auth #formAuth .form-group .msg-is-invalid {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=auth.css.map */
