@import '_variaveis.scss';
@import '_mixin.scss';

@keyframes transitionRoad {
	0% {
		left: -30%;
	}

	100% {
		left: 150%;
	}
}

#forgotPassword {
	margin: auto;
	padding: 10px 20px;

	.title-forgot-password {
		font-size: 1.4rem;
		color: black;
		font-weight: 600;
		text-align: center;
	}
}

.form-group {
	margin-bottom: 1.5rem;
}

.road-circle-help {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin: auto;
	width: 80%;
	margin-bottom: 1.5rem;

	.icon-circle-help {
		& > i {
			font-size: 1.4rem;
			border: 1px solid #ccc;
			background: white;
			padding: 1rem;
			border-radius: 50%;
			z-index: 2;
			position: relative;

			&:hover {
				background: #f3f4f3;
			}
		}

		&.icon-1:before,
		&.icon-2:before {
			content: "";
		 	width: 46%;
		    height: 8px;
		    $border: 1px solid #ad9b9b;
		    border-top: $border;
		    border-bottom: $border;
		    display: block;
		    position: absolute;
		    z-index: 1;
		    margin: auto;
		    bottom: 0;
		    top: 0;
		}

		&.icon-1:before {
			left: 2%;
		}

		&.icon-2:before{
			right: 2%;
		}

		&.pass-road {
			$bg-pass: #7517bf;

			&:before {
				background: $bg-pass;
			}

			& > i {
				border: none;
				color: white;
				background: $bg-pass;
			}
		}

		.active-road {
			background: #c3e4c6 !important;
		}
	}
}

.desc-state {
	h3 {
	    font-size: 1rem;
		font-weight: 700;
		margin-bottom: 2.6rem;
	}
}

.repeat-code {
	color: #313131;
	text-align: center;
}

#formForgotPassword {

	.content-form {
		width: 70%;
		margin: auto;

		.form_div {
			position: relative;
			width: 100%;
			height: 48px;

			.form_input {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				font-size: 1rem;
				border: 1px solid #d7caca;
				border-radius: .5rem;
				outline: none;
				padding: 1rem;
				background: none;
				z-index: 1;
			}

			.form_label {
				position: absolute;
				left: 1rem;
				top: 0.75rem;
				padding: 0px 0.25rem;
				background: white;
				color: black;
				font-size: 1rem;
				-webkit-transition: all .3s ease;
				   -moz-transition: all .3s ease;
				    -ms-transition: all .3s ease;
				     -o-transition: all .3s ease;
				        transition: all .3s ease;
			}

			.form_input:focus + .form_label {
				top: -.5rem;
				left: .8rem;
				color: #ccc;
				font-size: 0.75rem;
				font-weight: 500;
				z-index: 10;
			}

			.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label {
				top: -.5rem;
				left: .8rem;
				color: #ccc;
				font-size: 0.75rem;
				font-weight: 500;
				z-index: 10;
			}

			.form_input:focus {
				border: 1px solid blue;
			}
		}
	}
}

.buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
    align-content: center;

    .btn {
    	-webkit-transition: all .25s ease-in;
    	   -moz-transition: all .25s ease-in;
    	    -ms-transition: all .25s ease-in;
    	     -o-transition: all .25s ease-in;
    	        transition: all .25s ease-in;
    }

    .next {
    	background: #ac15c0;
	    color: #ffffffd6;
	    padding: 7px 25px;
	    border: 1px solid #ed6767;
	    position: relative;
	    overflow: hidden;

	    &:hover,
	    &:focus {
	    	background: #6d107a;
	    	color: #fff;
	    	border: 1px solid #d28f8f;
	    }

	    &:hover:before,
	    &:focus:before {
    	    content: "";
		    display: block;
		    position: absolute;
		    top: -20%;
		    left: -30%;
		    background: #d8d8cf2b;
		    width: 20%;
		    height: 145%;
		    transform: rotate(-24deg);
		    animation: transitionRoad 1.3s 2.3s infinite ease;
	    }
    }

    .cancel {
    	color: #322c2c;
    	font-size: 0.9rem;

    	&:hover {
    		color: black;
    	}
    }
}

#content-inputs-code {
	margin-bottom: 1.3rem;
	max-width: 400px;

	.row > div {
		margin: 0;
		padding: 0 10px;
	}

	.input-code {
	    width: 100%;
	    border: none;
	    border-bottom: 1px solid black;
	    font-size: 2.5rem;
	    text-align: center;
	}
}

.cron {
	display: none;
}

.muted {
	text-align: center;
	font-size: 0.9rem;
	color: #323131;
	margin-bottom: 1.2rem;
	display: block;
}

#repeatContentCron {
	#confirmRepeatCode {
	    background: none;
	    width: 100%;
	    margin: -1rem 0 1.6rem;
	    padding: 7px;
	    font-weight: 700;
	    border: none;
	    border-bottom: 1px solid #f5f5f5;

	    -webkit-transition: all 0.45s linear;
	       -moz-transition: all 0.45s linear;
	        -ms-transition: all 0.45s linear;
	         -o-transition: all 0.45s linear;
	            transition: all 0.45s linear;

		&:hover {
			color: #4405df;
			border-bottom: 1px solid #d0cccc;
		}
	}
}

.back-error {
	font-size: 0.9rem;
	
}

@media (max-width: 575.98px) {
	#formForgotPassword .content-form {
		width: 100%;
	}
}